# python
__pycache__/
*.py[cod]

# virtual env
.venv/
env/
venv/

# secrets / local db
.env
db.sqlite3

# django runtime
*.log
staticfiles/
media/

# IDE
.vscode/
.idea/

# optional
post_man-Collections


# Docker specific
*.env

# Database
*.sqlite3